.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-color: var(--background-color-section);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.39),
      rgba(47, 48, 58, 0.39)
    ),
    url(/img/hero/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 480px;
  height: 400px;

  @media (min-device-pixel-ratio: 2),
  (min-reslution: 192dpi) ,
  (min-reslution: 2dppx) {
    background-image: url(/img/hero/hero2x.jpg);
  }

  @media screen and (min-width:768px) {
  
    max-width: 768px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.39),
      rgba(47, 48, 58, 0.39)
    ),
    url(/img/hero/hero-tablet.jpg); ;
    
    @media (min-device-pixel-ratio: 2),
    (min-reslution: 192dpi) ,
    (min-reslution: 2dppx) {
      background-image: url(/img/hero/hero-tablet2x.jpg);
    }
  }
  

  @media screen and (min-width:1200px) {
    padding:  200px 0;
    max-width: 1600px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.39),
      rgba(47, 48, 58, 0.39)
    ),
    url(/img/hero/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-reslution: 192dpi) ,
    (min-reslution: 2dppx) {
      background-image: url(/img/hero/hero-desktop2x.jpg);
    }
    height: 600px;
    }

}

  .hero__title {
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 360px;
  line-height: 1.6;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase; 
  color: var(--background-color);
  @media screen and (min-width:1200px) {
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
}
  }
  
