.section {
  padding: 60px 0;
  @media screen and (min-width:1200px){
  padding: 94px 0;
}
}
.section--zero-padding-top {
  padding-top: 0;
  @media screen and (max-width:1199px) {
    display: none;
  }
}

.section--team-color {
  background-color: #f5f4fa;
   padding-bottom: 60px; 
   @media screen and (min-width:1200px) {
  padding-bottom: 94px;
}
}
.section__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: Center;
  color: var(--title-text-color);
  @media screen and (min-width:1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
